
.card {
    width: 20rem;
  }
  
  .card-header {
    height: 80px;
    background-color: #ffffff;
    padding: 10px;
  }
  .card-body {
    height: 210px;
    overflow: hidden;
    text-align: justify;
    padding: 20px;
    position: relative;
  }
  .right-align p {
    margin: 0; 
    text-align: right;
  }
.update-button{
  background-color: #603aa7;
}
.update-button:hover {
  background-color: #4c2d88 !important; 
}
  .card-text {
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
  }
  
  .card-footer {
    height: 80px;
    background-color: #ffffff;
  }
  
  .card-footer .btn {
    margin-left: 10px;
  }
  .card-age {
    position: absolute; 
    bottom: 40px; 
    right: 10px;
    font-weight: bold;
    color: #555;
    margin: 10px;
  }
  .course-rating1 {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-weight: bold;
    color: #333; 
    margin: 10px;
  }
  
  .course-rating1 .star {
    color: gold;
  }

