.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6f42c1;
    position: relative;
    z-index: 9999;
    height: 60px !important;
    padding-top: 0px;
    padding-bottom: 0px; 
}

.navbar .btn {
    padding: 6px 16px !important;
}

 .logo {
    width: 140px;   
    height: auto;
    border: 2px none;
    padding: 0;
    margin: 0;
    padding: 0;
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.navbar-brand:focus,
.navbar-brand:focus-visible,
.navbar-brand:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

  .nav-item .nav-link .custom-button {
    border: 2px solid #ffffff;
    border-radius: 4px;
    font-size: 0.75rem; 
    color: #fff;
    transition: all 0.2s;
    box-shadow: none;
  }
  
  .nav-item .nav-link .custom-button:hover {
    border-color: #ffffff ;
    color: #ffffff ;
    background-color: #ffffff;
  }

  .container-fluid{
    background-color: #6f42c1;
  }
  
  @media (max-width: 991.98px) {
     .nav-item .nav-link .custom-button {
      color: #ffffff;
      border: none;
      background-color: transparent;
      margin: 0;
    }
  
     .nav-item .nav-link .custom-button:hover {
      background-color: transparent !important; 
      border: none;
      color: #ffffff;
      margin: 0;
    }
     .nav-item .nav-link {
     border-top: 1px solid rgb(255, 255, 255);
  }
  
  }
  
  /*@media (min-width: 993px) {
    .register-button {
      color: #ffffff;
      border-color: #ffffff;
    }
  
    .login-button {
      color: #ffffff;
      border-color: #ffffff;
    }
        .navbar-nav .nav-item {
          margin: 0 5px; 
          padding: 0;
        }

      
  }*/
